/* NOTE: https://coliss.com/articles/build-websites/operation/css/a-modern-css-reset.html */

/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
/* HACK: 詳細度を小さくする for space between in tailwind */
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body * {
  /* FYI: https://ics.media/entry/200317/ */
  @apply font-body;
}

/* class属性を持つul、ol要素のリストスタイルとpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a,
button,
label,
details {
  /* FYI: https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  -webkit-tap-highlight-color: transparent;
}

/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* img要素の扱いを簡単にする */

/* 別のところで定義しているため，コメントアウト */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* Customise */

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css */

pre {
  white-space: pre-wrap; /* デフォルトのoverflowは好ましくありません。 */
}

/*
* 1. Solid, thin horizontal rules
* 2. Remove Firefox `color: gray`
* 3. Remove default `1px` height, and common `overflow: hidden`
*/
hr {
  height: 0;
  overflow: visible;
  color: inherit;
  border-style: solid;
  border-width: 1px 0 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 改行による隙間を解消 */
  max-width: 100%; /* デフォルトでフレキシブルに。 */
  vertical-align: middle; /* ディセンダにより生じる隙間を修正。 */
}

img,
svg,
video,
canvas {
  height: auto; /* max-widthが有効になっても、アスペクト比を維持。 */
}

/*
* There is no good reason elements default to 300px,
* and audio files are unlikely to come with a width attribute
*/
audio {
  width: 100%;
}

/* https://coliss.com/articles/build-websites/operation/css/cssremedy.html */

/* タイポグラフィにrem単位を使用するよう切り替えます。見出しのline-heightを修正。 */
h1 {
  margin: 0.67em 0;
  font-size: 2rem; /* すべてのH1は大きくし、入れ子でサイズが縮小されるのを削除。 */
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* line-heightを広げ、リーダビリティを向上させる。 */
p {
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: clamp(2px, 1vmin, 8px);
  height: clamp(2px, 1vmin, 8px);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  @apply rounded-full;

  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-text bg-opacity-md;
  @apply rounded-full;
  @apply border-0 border-transparent;

  background-clip: content-box;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}

/*
* CSS Inline Layout Module Level 3: https://drafts.csswg.org/css-inline-3/#line-sizing-property
*/
:root {
  /* stylelint-disable-next-line property-no-unknown */
  line-sizing: normal; /* 一貫した行間隔を定義。 */
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha
    ideograph-numeric; /* CJK言語（中国語、日本語、韓国語）での句読点の間隔を変更。 */
}
